

.container {
  display: grid; /* Create grid layout */
  grid-template-columns: 45% 1fr; /* Sidebar takes 1 part, content takes 3 parts */
  grid-template-rows: 1fr auto; /* Auto for main content and footer */
  min-height: 100vh; /* Full height of the viewport */
  margin: 0 auto;
  max-width: 1280px;
  gap: 1.5rem; 
  position: relative;/* Space between sidebar and main content */
}

.app-sidebar {
  display: flex; /* Arrange items vertically inside the sidebar */
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  padding-top: 2rem;
  padding-left: 2rem;
  height: 100vh; /* Ensure it takes full height of the viewport */
  overflow-y: auto; /* Allow scrolling within the sidebar if necessary */
  position: sticky;
  top: 0;
  scroll-behavior: smooth;
}

/* Main Content */
.main-content .main-content-xsl {
  display: flex; /* Flexbox inside main content */
  flex-direction: column; /* Stack the content vertically */
  padding-top: 3.5rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Footer inside main content */
.main-content .main-content-xsl> app-footer {
  margin-top: 4rem; /* Push footer to the bottom */
}

/* Scrollbar Customization */
.main-content .main-content-xsl::-webkit-scrollbar {
  width: 8px;
}

.main-content .main-content-xsl::-webkit-scrollbar-thumb {
  background-color: #64ffda;
  border-radius: 10px;
}

app-footer{
  padding: 3rem;
}

/* Responsive Design */
@media (max-width: 768px) {
 
  .container {
    display : grid; /* Create grid layout */
    grid-template-columns: 1fr; /* Stack the sidebar and content vertically */
  }

  .app-sidebar {
    position: relative; /* Remove sticky position on small screens */
    width: 100%; /* Full width */
    padding: 2rem;
    order: -1; /* Move sidebar to the top on smaller screens */
  }
  .main-content {
     display: none;
  }
  
  .p-4 {
    display: none; /* Hide the side links */
  }
  .custom-list {
    display: none;
  }
  .app-sidebar{
    height: auto;
  }
}

@media (min-width: 768px) { 
  .main-content-xsl{
    display: none;
  }
}