<section id="about" class="intro">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <canvas id="spacecraft-canvas"></canvas>
  <p class="mb-4">
    Hey there! I'm <b style="color: #00ff99;">Bakiya</b> — a dreamer with a passion for art, anime, and<b style="color: #00ff99;"> coding adventures.</b> 
    I’m always <b style="color: #00ff99;">chasing new ideas, building cool things,</b> and <b style="color: #00ff99;">learning</b> every step of the way.
  </p>
  <p class="mb-4">
    Thanks for stopping by — dive into my world and let's create something amazing together!.....
  </p>
  
  <a class="resume-link" [href]="resumeUrl" target="_blank" style="color: #00ff99;">
    View Full Résumé <span class="arrow">→</span>
  </a>
</section>

