<section id="about" class="intro"> 
  <p class="mb-4">
    I’m a <b>Full-Stack Developer</b> with <b>6.5+ years</b> of experience in building
     <b>scalable applications, microservices, and enterprise integrations</b>. I love solving 
     <b>complex problems</b>, optimizing <b>system performance</b>, and crafting <b>seamless user experiences</b> across the stack.
  </p>
  <p class="mb-4">
    Currently, I work at <b>Capgemini</b>, focusing on <b>microservices</b> and 
    <b>API development</b> for <b>Barclays' LoanIQ system</b>. Previously, at 
    <b>TCS</b>, I contributed to <b>telecom automation</b> and <b>scalable web applications</b>. 
    My expertise spans <b>Java</b>, <b>Python</b>, <b>Spring Boot</b>, <b>Angular</b>, <b>React</b>, <b>Kafka</b>, and <b>AWS</b> (AWS Developer Associate Certified).
  </p>
  <p class="mb-4">
    I'm passionate about <b>cloud computing</b>, <b>system design</b>, and <b>emerging technologies</b>.
     When I'm not coding, you’ll find me sketching <b>art</b> or attending tech events like <b>Google’s GenAI Hackathon</b>.
  </p>
  <p class="mb-4">
    Let’s connect and build something impactful together! 🚀
  </p>
  <a class="resume-link" [href]="resumeUrl" target="_blank">
    View Full Résumé <span class="arrow">→</span>
  </a>
</section>
