<section class="leftside">

  <header class="hero">
    <!-- app.component.html -->
    <!-- <div class="image-container">
     <img src="assets/Profile.jpg" alt="Image with cut-out effect" class="cut-out-image"> 
    </div> -->
  
    <h1 id="name">Bakiyalakshmi Palani</h1>
    <h2  id="whoami">Full Stack Developer [AWS Developer Associate]</h2>
    <p class="howCanIHelpYou">
      Building cool stuff, <br>
       <span class="step-1"> crafting slick designs </span><br>
        <span class="step-2">and tackling challenges with flair!</span>
    </p>    
  </header>

  <div>
    <div class="p-4" >
      <ul class="nav" class="custom-list">
        <li><a routerLink="/about" class="custom-link" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" class="custom-link" routerLinkActive="active">About</a></li>
        <li><a routerLink="/experience"  class="custom-link" routerLinkActive="active">Experience</a></li>
        <li><a routerLink="/projects"  class="custom-link" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/blog" class="custom-link" routerLinkActive="active">Blog</a></li>
        <li><a routerLink="/impossible-list" class="custom-link" routerLinkActive="active">Impossible List</a></li>
        <li><a href="assets/resume.pdf" target="_blank" class="custom-link">CV</a></li>
        <li><a routerLink="/work" class="custom-link" routerLinkActive="active">Work</a></li>
        <li><a routerLink="/contact" class="custom-link" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
  </div>
  <footer>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/in/bakiyalakshmi97atinfinity/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/bakiyaa" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </footer>
</section>

