#name {
  font-size: var(--font-size-xlarge);
  font-weight: bolder;
  letter-spacing: -0.08em;
  color: #e2e8f0;
  border: 0 solid #e5e7eb;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  #name {
    font-size: 2rem;
  }
  #whoami {
    font-size: 0.5rem;
    font-weight: bold;
  }
}

#whoami {
  letter-spacing: 0.015em;
  font-size: 1.25rem;
  font-weight: bolder;
  color: var(--primary-color);
}

.howCanIHelpYou {
  word-wrap: break-word;
  font-size: var(--font-size-medium);
  font-style: italic;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 50px;
}

.howCanIHelpYou .step-1 {
  margin-left: 1.5rem;
}
.howCanIHelpYou .step-2 {
  margin-left: 2.5rem;
}

.custom-link:hover,
.custom-link:focus-visible {
  color: #e2e8f0;
}

.custom-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 50px 0;
}

.custom-list li {
  margin-bottom: 10px;
}

.custom-link {
  font-size: var(--font-size-small);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #f0f4f8;
  display: inline-block;
  position: relative;
  padding-left: 50px;
  transition: font-size 0.3s, padding-left 0.3s, color 0.3s;
}

.custom-link:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: #e2e8f0;
  transition: width 0.3s, background-color 0.3s;
}

.custom-link:hover:before,
.custom-link:focus:before {
  width: 50px;
  background-color: #d1dbe5;
}

.custom-link:hover,
.custom-link:focus {
  font-size: 1.22rem;
  padding-left: 55px;
  color: #d1dbe5;
}

.custom-link:active:before {
  width: 70px;
  background-color: #d1dbe5;
}

.custom-link:active {
  font-size: 1rem;
  padding-left: 70px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-icons a {
  text-decoration: none;
  font-size: 1rem;
  color: #f0f4f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s;
}

.footer-icons a:hover {
  color: #d1dbe5;
}

.footer-icons i {
  margin-top: 10px;
  font-size: 2rem;
  line-height: 1;
  position: relative;
  top: 0;
}
